.my_text {
	text-align: center;
	font-size: 28px;
	line-height: 40px;
	font-weight: 400;
	max-width: 527px;
	margin: 0 auto;
	margin-top: 40px;
}


@media (max-width: 600px) {
	.my_text {
		font-size: 22px;
		line-height: 26px;
		margin-top: 20px;
	}
}