.btn {
	padding: 10px 30px;

	color: #fff;
	font-size: 18px;
	font-weight: bold;

	width: max-content;
	margin: 0 auto;
	border-radius: 50px;
	background-color: #000;
	border: 1px solid #000;
	transition: 0.3s all;
}

.btn:hover {
	color: #000;
	cursor: pointer;
	background-color: #fff;
}

@media (max-width: 600px) {
	.btn {
		font-size: 14px;
	}
}
